body {
    background: #445;
    margin: 100px;
}
h1 {
    font-size: 42px;
    text-shadow: 1px 1px 1px ;
    text-align: center;
}

body div p {
    font-size: 20px;
    text-shadow: 1px 1px 1px ;
}
